@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background:white;
    color: black;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    transition: background 0.5s ease; /* Transición de fondo */
        width: auto;
    height: 100vh;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: rgb(11, 12, 12);
    border-style: groove;
    border-width: 35px;
    border-color: #536dab;
    overflow-y: auto;
}

h1 {
    padding: 70px 0 15px 0;
     font-size: 30px; /* Tamaño de fuente para párrafos */
     font-family: 'cursive';
}

h2 {
    padding: 10px 0 100px 0;
    font-size: 23px; /* Tamaño de fuente para párrafos */
    font-family: 'cursive';
}

h3 {
    padding: 20px 0 15px 0;
    font-size: 17px; /* Tamaño de fuente para párrafos */
    font-family: 'cursive';
}

p {
    line-height: 1.5em;
    font-size: 50px; /* Tamaño de fuente para párrafos */
}

nav {
    width: 30%;
    margin: 0 auto;
}

nav button {
    background: #536dab;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    margin: 5px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.1s ease-in-out
}

nav button:hover {
    background:#3a4d78;
}

.after { 
    clear: both; 
}

/* Estilos específicos para el formulario de inicio de sesión */
.login {
    margin: 50px auto;
    width: 320px;
    opacity: 1; /* Opacidad inicial */
    transition: opacity 0.5s ease; /* Transición de opacidad */
}

.login form {
    margin: 50px 0 150px 0;
    padding: 22px;
    width: 100%;
    border-radius: 5px;
    background: #536dab;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}

.login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    border-right: 3px solid #434a52;
    color: #606468;
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.login form input[type="email"],
.login form input[type="password"] {
    background-color: #3a4d78;
    border-radius: 0px 3px 3px 0px;
    color: white;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 90%;
    height: 50px;
}

.login form input[type="submit"] {
    background: #2d3752;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px ;
    color: white;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
}

.login form input[type="submit"]:hover {
    background: #192134;
}


/* Estilos para el loader */
#loader {
  position: fixed; /* Posiciona el loader en la pantalla */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Fondo oscuro */
  z-index: 9999; /* Asegura que el loader esté encima de otros elementos */
  transition: opacity 0.5s ease; /* Animación de transición para la opacidad */
  opacity: 1; /* Opacidad inicial completa */
   width: auto;
    height: 100vh;
    margin: auto;
    padding: 30px;
    text-align: center;
    color: rgb(11, 12, 12);
    border-style: groove;
    border-width: 30px;
    border-color: #536dab;
    overflow-y: auto;
}

#loader img {
  height: auto;
  width: 50%;
}

.container {
  width: auto;
  height: 100vh;
  margin: auto;
  padding: 20px;
  text-align: center;
  color: rgb(11, 12, 12);
  border-width: 35px;
  border-color: #536dab;
  overflow-y: auto;
}

@media screen and (min-width: 600px) {
  .container {
    border-width: 40px;
  }

  #calculator {
    flex-flow: row wrap;
    justify-content: center;
  }

  #loader img {
    height: 80%;
    width: auto;
  }
}

